   <div style="margin-left: 250px" class=" container-fluid">
            <div class="row">
                <div style="background: #31708f;color: white;height:62px;padding-right: 50px" class=" col-xs-12  active">
                    <h3  id="content-selected-component">Welcome</h3>
                </div>
            </div>
            <div class="row">
                <div id="app-content-container" class="col-xs-12">
                      Place content here !!
                </div>
            </div>
    </div>
