   <div  class=" container-fluid">
            <div class="row">
                <div style="background: #31708f;color: white;height:62px;padding-right: 50px" class=" col-xs-12  active">
                    <h3  id="content-selected-component">Welcome</h3>
                </div>
            </div>
            <div class="row">
                <div class="alert alert-info" style="margin: 30px">
                     Information about each function of Online Test will be shown here
                </div>
                <div>
                
                </div>
                
                 <div id="div-knowledgemaps-content" class="component-content"></div>
                <div  id="app-content-container">
                 
                      <div id="div-courses-content" class="component-content"></div>
                      <div id="div-course-assignment-content" class="component-content"></div>
            
                      <div id="div-studentAccount-content" class="component-content"></div>
                      <div id="div-studentTest-content" class="component-content"></div>
                      <div id="div-Tests-content" class="component-content"></div>
                </div>
                 
            </div>
    </div>
