 <div  id="main-menu" style="z-index: 1050; width: 250px;margin-top: 50px" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
            <div class="pull-right"><i class="fa fa-arrow-right"></i></div>
            <div id="div-teacher-menu" >
              
                                <div class="list-group">
                                
                                    <a  style=" background-color: #31708f" id="lnk-home" href="#" class="app-menu-item list-group-item active" >
                                        <i class="fa fa-home"></i> Home
                                     </a> 
                                    <a id="lnk-courses" href="#" class="app-menu-item " >
                                         <span class="glyphicon glyphicon-book"></span>  Courses 
                                     </a>
                                    
                                    <a id="lnk-teacher-Assigned-courses" href="#" class="app-menu-item " >
                                         <span class="fa fa-table"></span> My Assigned Courses 
                                     </a>
                                    
                                     <a id="lnk-knowledgemaps" href="#" class="app-menu-item">
                                         <span class="glyphicon glyphicon-file"></span> Knowledge Maps 
                                     </a>
                                    <!--
                                    <a id="lnk-importknowledges" href="#" class="app-menu-item">
                                         <span class="glyphicon glyphicon-import"></span> Import Knowledge Maps 
                                     </a>
                                    -->
                                     <a id="lnk-studentaccounts" href="#" class="app-menu-item" >
                                         <span class="glyphicon glyphicon-list"></span> Student Accounts 
                                     </a>
                                     <a id="lnk-tests" href="#" class="app-menu-item" >
                                         <span class="glyphicon glyphicon-list-alt"></span> Tests
                                     </a>
                                     <a id="lnk-student-tests" href="#" class="app-menu-item">
                                         <span class="glyphicon glyphicon-list-alt"></span> Student Tests
                                     </a>
                                   <!-- 
                                   <a class="app-menu-item" id="lnk-item-generation-test-bench" href="item-generation-test-bench.jsp">
                                         <span class="fa fa-cogs"></span><b> Item Generation Test Bench </b>
                                     </a>
                                   -->
                          </div>
                     
                   </div>
        </div>